VITE_FIREBASE_API_KEY=AIzaSyDummyKeyForSmartDormitorySystem2026
VITE_FIREBASE_AUTH_DOMAIN=smart-dormitory-nsg.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smart-dormitory-nsg
VITE_FIREBASE_STORAGE_BUCKET=smart-dormitory-nsg.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=109876543210
VITE_FIREBASE_APP_ID=1:109876543210:web:abcdef1234567890
